---
import SkillList from "./SkillList.astro"
---

<style>
  .title {
    display: inline-block;
    position: relative;
    padding-bottom: .5rem;
  }

  @media (max-width: 768px) {
    .skills {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (max-width: 1024px) {
    .skills {
      grid-template-columns: 1fr;
    }
  }
</style>


<section class="pt-28 max-w-[80%] mx-auto mb-40">
  <h2 class=" mb-20 text-3xl font-[600] text-[#FFCDD2] title">My skills</h2>
  <div class="skills flex flex-col xl:flex-row xl:gap-[15%] gap-28">
    <article class="w-full xl:w-1/2 flex flex-col">
      <p class="mb-4 text-base font-[300]">In recent years, I have been part of teams that have prioritized working with <span class="text-[#FFCDD2] font-[600]">agile methodologies</span> and <span class="text-[#FFCDD2] font-[600]">TDD</span>.</p>
      <p class="mb-12 text-base font-[300]">Over the last year, I have specialized in frameworks such as <span class="text-[#FFCDD2] font-[600]">Vite</span> and <span class="text-[#FFCDD2] font-[600]">NextJS</span>.</p>
      <p class="mb-12 text-base font-[300]">When it comes to testing, I have primarily worked with <span class="text-[#FFCDD2] font-[600]">Vitest, Jest, and Cypress</span>. The main types of tests I have conducted or typically perform on my applications include end-to-end (E2E) tests, unit tests, integration tests, functional tests, and golden tests..</p>
      <p class="mb-12 text-base font-[300]">Regarding the user interface aspect, I have experience with <span class="text-[#FFCDD2] font-[600]"> Bootstrap, Material UI</span>, and lately, I always use <span class="text-[#FFCDD2] font-[600]">TailwindCSS</span> whenever possible.</p>
      <small class="font-[300]">Proficiency in other technologies includes:<br><span class="opacity-70 italic">Javascript, Typescript, ExpressJS, MongoDB.</span></small>
    </article>
    <div class="w-full xl:w-1/2">
      <SkillList/>
    </div>
  </div>
</section>