---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
import Header from '../components/Header.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/skills/Skills.astro';
import Contact from '../components/Contact.astro';
---

<style>
  html {
    scroll-behavior: smooth;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .sticky-navbar {
    @apply fixed top-0 left-1/2 transform -translate-x-1/2 w-[90%] rounded-[3em] flex items-center justify-between px-8 transition-all duration-300;
  }
  .scrolled {
    @apply shadow-md backdrop-blur-md;
    background-color: rgba(26, 30, 42, 0.9);
  }
  .nav-link {
    @apply text-white hover:text-[#FFCDD2] cursor-pointer transition-all relative;
  }
  .nav-link::after {
    content: '';
    @apply absolute left-0 bottom-0 w-0 h-[2px] bg-[#FFCDD2] transition-all duration-300;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .mobile-menu {
    @apply fixed top-0 left-0 w-full h-full bg-[#1a1e2a] bg-opacity-95 flex flex-col items-center justify-center transform transition-transform duration-300 z-40;
    transform: translateY(-100%);
  }
  .mobile-menu.open {
    transform: translateY(0);
  }
  .burger {
    @apply lg:hidden cursor-pointer;
  }
  .burger span {
    @apply block w-6 h-0.5 bg-white transition-all;
  }
  .burger.open span:nth-child(1) {
    transform: translateY(6px) rotate(45deg)  ;
  }
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .burger.open span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
</style>

<Layout title="AgustiPC Portfolio">

  <nav id="navbar" class="h-[4.5rem] sticky-navbar flex justify-between items-center px-4 py-6 mx-auto mt-6 z-50">
    <div class="hidden lg:flex gap-8">
      <a href="#about" class="nav-link">About</a>
      <a href="#projects" class="nav-link">Projects</a>
      <a href="#skills" class="nav-link">Skills</a>
      <a href="#work" class="nav-link">Work</a>
    </div>
    <div class="absolute left-1/2 transform -translate-x-1/2 text-xl font-bold"> 
      <a href="#home" class="text-[#FFCDD2] hover:text-white cursor-pointer transition-all text-2xl font-light">
        <!-- Agusti PC -->
         <img class="h-14" alt="Agustí PC Logo - Go to home" src="/images/logo.svg" alt="">
         <span class="sr-only">Go to Home</span>
      </a>
    </div>
    <a href="#contact" class="hidden lg:block nav-link">CONTACT</a>
    <div id="burger" class="burger z-50 flex flex-col space-y-1">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  <div id="mobile-menu" class="mobile-menu lg:hidden">
    <a href="#about" class="nav-link text-2xl py-2">About</a>
    <a href="#projects" class="nav-link text-2xl py-2">Projects</a>
    <a href="#skills" class="nav-link text-2xl py-2">Skills</a>
    <a href="#work" class="nav-link text-2xl py-2">Work</a>
    <a href="#contact" class="nav-link text-2xl py-2">Contact</a>
  </div>

  <main class="m-auto text-lg text-white">
    <section id="home">
      <Header/>
    </section>
    <section id="about">
      <InfoCard/>
    </section>
    <section id="projects">
      <Projects/>
    </section>
    <section id="skills">
      <Skills/>
    </section>
    <section id="work">
      <WorkExperience/>
    </section>
    <section id="contact">
      <Contact/>
    </section>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const navbar = document.getElementById('navbar');
    const burger = document.getElementById('burger');
    const mobileMenu = document.getElementById('mobile-menu');
    const links = document.querySelectorAll('.mobile-menu a');
    const body = document.body;

    function updateNavbar() {
      if (window.scrollY > 50) {
        navbar?.classList.add('scrolled');
      } else {
        navbar?.classList.remove('scrolled');
      }
    }

    window.addEventListener('scroll', updateNavbar);
    window.addEventListener('load', updateNavbar);

    burger?.addEventListener('click', () => {
      const isOpen = mobileMenu?.classList.toggle('open');
      burger.classList.toggle('open');
      body.classList.toggle('no-scroll', isOpen);
    });

    links.forEach(link => {
      link.addEventListener('click', () => {
        mobileMenu?.classList.remove('open');
        burger?.classList.remove('open');
        body.classList.remove('no-scroll');
      });
    });

    window.addEventListener('resize', () => {
      if (window.innerWidth >= 768) {
        mobileMenu?.classList.remove('open');
        burger?.classList.remove('open');
        body.classList.remove('no-scroll');
      }
    });
  });
</script>
