---
const inputClass = 'resize-none p-2 rounded-lg bg-[#676a70] text-[#fff] font-[300] placeholder-[#fff] focus:outline-none focus:ring-1 focus:ring-[#FFCDD2] border border-gray-400'
---
<style>
  .title-contact {
    display: inline-block;
    position: relative;
    padding-bottom: .5rem;
  }

  .icon {
    height: 32px;
    width: 32px;
    stroke-width: 1;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const script = document.createElement('script');
    script.src = 'https://unpkg.com/feather-icons';
    script.onload = () => {
      (window as any).feather.replace();
    };
    document.body.appendChild(script);
  });
</script>

<section class="bg-[#7d7d7d1b] z-30 pt-20 mt-60 pb-48">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-[80%] mx-auto">
    <div class="max-w-sm">
      <h2 class="text-3xl font-[600] text-[#FFCDD2] mb-8 title-contact">Let's Connect!</h2>
      <p class="font-[300] mb-4">Ready to create extraordinary projects together?</p>
      <p class="font-[300] mb-8">Let's build something amazing!</p>
      <div class="flex flex-row gap-4">
        <a href="https://www.linkedin.com/in/agustipoucompany/" aria-label="Visita mi linkeding" target="_blank" class="text-[#FFCDD2] text-2xl transition-all hover:scale-110 hover:opacity-80 hover:text-white duration-500">
          <i data-feather="linkedin" class="icon"></i>
        </a>
        <a href="https://github.com/agustipc" aria-label="Visita mi github" target="_blank" class="text-[#FFCDD2] text-2xl transition-all hover:scale-110 hover:opacity-80 hover:text-white duration-500">
          <i data-feather="github" class="icon"></i>
        </a>
        <a href="https://gitlab.com/agustipcom" aria-label="Visita mi gitlab" target="_blank" class="text-[#FFCDD2] text-2xl transition-all hover:scale-110 hover:opacity-80 hover:text-white duration-500">
          <i data-feather="gitlab" class="icon"></i>
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=agustipcom@gmail.com" aria-label="Enviame un mail" target="_blank" class="text-[#FFCDD2] transition-all hover:scale-110 hover:opacity-80 hover:text-white duration-500">
          <i data-feather="mail" class="icon"></i>
        </a>
      </div>
    </div>
    <form id="contactForm" method="POST" class="flex flex-col gap-4 mt-16 md:mt-0">
      <input class={inputClass} type="text" name="name" placeholder="Name" required/>
      <input class={inputClass} type="email" name="email" placeholder="Email" required/>
      <textarea rows="4" class={inputClass} name="message" placeholder="Message" required></textarea>
      <button class="rounded-full bg-[#FFCDD2] text-[#252934] p-4 w-36 mt-6 text-sm transform transition-transform duration-500 hover:scale-105 hover:bg-[#f9d1d5] hover:bg-opacity-80 hover:shadow-lg" type="submit">Send Message</button>
    </form>
  </div>
</section>

<script>
  import { showToast } from '../utils/toast';

  const contactForm = document.getElementById('contactForm') as HTMLFormElement | null;

  contactForm?.addEventListener('submit', async (e) => {
    e.preventDefault();

    const formData = new FormData(contactForm);

    try {
      const response = await fetch('https://formspree.io/f/mbldenld', {
        method: 'POST',
        headers: { 'Accept': 'application/json' },
        body: formData
      });
      
      if (response.ok) {
        showToast('Message sent successfully!', 'success');
        contactForm.reset();
      } else {
        showToast('Oops, there was a problem sending your message.', 'error');
      }
    } catch (error) {
      console.error(error);
      showToast('There was an error sending your message.', 'error');
    }
  });
</script>