<head>
  <link rel="preload" as="image" href="/images/background2.webp" type="image/webp" media="(max-width: 1920px)"/>
</head>
<script>
  const headerSection = document.getElementById('header')
  function styleHeader() {
    const scrollPosition = window.scrollY
    const screenHeight = window.innerHeight
    if(scrollPosition > screenHeight ){
      headerSection!.style.display = 'none'
    }else{
      headerSection!.style.display = 'block'
    }
  }
  window.addEventListener('scroll', styleHeader)
  window.addEventListener('load', styleHeader)
</script>
<style>
  .title{
    font-display: swap;
  }
  .scroll-downs {
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

  .sticky {
    position: sticky;
    top: 0;
    z-index: -1;
  }
  .header-background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/images/background2.webp');
    background-size: cover;
    background-position: center;
  }

  .header-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(90%);
    z-index: 1;
  }
</style>

<section class="h-screen justify-center items-center sticky">
  <div id="header" class="header-background hidden" >
    <div class="w-full h-full flex justify-center items-center relative z-10">
      <h1 class="text-[#FFCDD2] text-6xl text-center font-bold title">AGUSTI POU COMPANY<br><span class="text-5xl text-center text-white font-thin">FullStack Developer</span></h1>
    </div>
    <div class="scroll-downs absolute left-1/2 bottom-0 mb-16 transform -translate-x-1/2 z-10">
      <div class="mousey">
        <div class="scroller"></div>
      </div>
    </div>
  </div>
</section>