<head>
  <link rel="preload" href="/images/profile.webp" as="image" />
</head>
<style>
  .info{
    position: relative;
    z-index: 2;
  }
  .shadow-b-t {
    box-shadow: 0px 8px 35px 0px #000,
    0px -8px 35px 0px #000;
  }
</style>

<section class=" grid grid-cols-6 grid-flow-col gap-4 bg-[#252934] info mb-20">
  <img class="col-span-2 object-cover h-screen object-center " src="/images/profile.webp" alt=""/>
  <article class="col-span-4 items-center w-3/4 m-auto">
    <h1 class="font-light"><span class="text-[#FFCDD2] font-bold">+6 years</span> of professional experience in software development complemented by a background in <span class="text-[#FFCDD2] font-bold">Graphic Design</span> and <span class="text-[#FFCDD2] font-bold">User Experience</span>.<br><br>Passionate about software development and new technologies. Actively contributing on the improvement of management methodologies committing myself to the team and the company projects and <span class="text-[#FFCDD2] font-bold">seeking fresh challenges</span>.</h1>
    <a href="/cv_agusti_pou_company.pdf" rel="noopener noreferrer" download="cv_agusti_pou_company.pdf" class="mt-12">
      <button class="mt-12 rounded-full bg-[#FFCDD2] text-[#252934] p-4 text-sm transform transition-transform duration-500 hover:scale-105 hover:bg-[#f9d1d5]" type="submit">Download CV</button>
    </a>
  </article>
</section>