---
interface Props {
  dates: string;
  company: string;
  tags: string;
  url?: string;
  hasFullWidth?: boolean;
}

const {dates, company, tags, url, hasFullWidth} = Astro.props;
---

<div class={`card text-white ${!url ? 'card--no-hover' : 'card--hover'} ${!hasFullWidth && 'max-w-full xl:max-w-[50%]'}`}>
  <div class="card-content">
    {
      url ? 
      (
        <a href={url} target="_blank" rel="noopener noreferrer" class={`flex flex-col xl:flex-row gap-10 justify-between`}>
          <div class="flex flex-col xl:flex-row gap-10">
            <span class="font-light text-opacity-50 text-white">
              {dates}
            </span>
            <div class="flex flex-col gap-4 ">
              <h3 class="text-2xl font-medium text-[#FFCDD2]">
                {company}
              </h3>
              <slot/>
              <p class="font-light italic text-sm text-white text-opacity-50">
                {tags}
              </p>
            </div>
          </div>
          <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#FFCDD2] arrow-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </a>
      )
      :
      (
        <div class={`flex flex-col xl:flex-row gap-10 justify-start`}>
          <div class="flex flex-col xl:flex-row gap-10">
            <span class="font-light text-opacity-50 text-white">
              {dates}
            </span>
            <div class="flex flex-col gap-4 ">
              <h3 class="text-2xl font-medium text-[#FFCDD2]">
                {company}
              </h3>
              <slot/>
              <p class="font-light italic text-sm text-white text-opacity-50">
                {tags}
              </p>
            </div>
          </div>
        </div>
      )
    }
  </div>
</div>


<style>
  .card {
    background-color: #7d7d7d1b;
    position: relative;
    border-radius: 1em;
    padding: 2em;
    transition: transform 0.4s ease;
  }

  .card span {
    min-width: fit-content;
  }

  .card--hover:hover {
    cursor: pointer;
    transform: scale(0.97);
    background-color: #b3b3b31b;
    -webkit-transition: background-color 200ms ease-in;
    -ms-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
  }

  .card--hover:hover .card-content {
    transition-duration: 200ms;
    transform: scale(0.99);
    transition-timing-function: ease-in;
  }

  .card--hover:active {
    transition-duration: 400ms;
    transform: scale(0.99);
  }

  .card--no-hover: {
    cursor: default;
    transform: none;
    background-color: rgba(125, 125, 125, 0.105);
  }

  .card--no-hover:hover .card-content {
    transform: none;
  }

  .arrow-icon {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease;
  }

  .card--hover:hover .arrow-icon {
    opacity: 1;
    transform: translateX(0);
  }
</style>