---
import type { Project } from '../lib/data';
interface Props {
  project: Project;
  index: number;
}

const { project, index }: Props = Astro.props;
const { id, title, images, subtitle, tags, description, commingSoon } = project;
---
<div data-project-index={index} class="project-card block h-full">
  <div 
    class="h-full relative flex flex-col 
    bg-[#7d7d7d1b] hover:bg-[#b3b3b31b] 
    transition-all rounded-[1em] overflow-hidden duration-300 ease-in transform 
    group hover:cursor-pointer"
  >
  {commingSoon && (
    <div class="absolute top-0 right-0 bg-orange-300 font-thin text-sm text-gray-900 px-4 py-1 rounded-bl z-30">
      Work in progress
    </div>
  )}
    <div class="relative flex-1 aspect-[4/3] overflow-hidden">
      <img 
        src={`/images/${images[0]}`} 
        alt={title} 
        class="w-full h-full object-cover transition-transform duration-300 scale-110 group-hover:scale-100" 
      />
    </div>

    
    <div class="p-4 flex flex-col gap-2 h-46">
      <h3 class="text-lg font-semibold text-white line-clamp-1">{title}</h3>
      <p class="text-sm text-gray-400">{subtitle}</p>

      <p class="text-sm text-gray-300 line-clamp-2">
        {description}
      </p>

      <!-- <div class="flex flex-wrap gap-2 mt-2">
        {tags.map((tag) => (
          <span class="bg-gray-700 text-gray-200 text-xs px-2 py-1 rounded-md">
            {tag}
          </span>
        ))}
      </div> -->
    </div>
  </div>
</div>