---
import ProjectCard from "./ProjectCard.astro";
import { projects } from '../lib/data';

---


<section class="pt-28 max-w-[80%] mx-auto mb-40">
  <h2 class="text-3xl font-[600] text-[#FFCDD2] title-projects mb-8">Projects</h2>
  <div class="grid grid-cols-6 grid-rows-[repeat(4, _auto)] gap-6 items-stretch">

    <div class="col-span-6 md:col-span-3 row-span-1">
      <ProjectCard project={projects[0]} index={0} />
    </div>

    <div class="col-span-6 md:col-span-3 row-span-1">
      <ProjectCard project={projects[1]} index={1}/>
    </div>

    <div class="col-span-6 md:col-span-3 lg:col-span-4 row-span-1">
      <ProjectCard project={projects[2]} index={2}/>
    </div>

    <div class="col-span-6 md:col-span-3 lg:col-span-2 row-span-1">
      <ProjectCard project={projects[3]} index={3}/>
    </div>

    <div class="col-span-6 md:col-span-3 lg:col-span-2 row-span-1">
      <ProjectCard project={projects[4]} index={4}/>
    </div>

    <div class="col-span-6 md:col-span-3 lg:col-span-2 row-span-1">
      <ProjectCard project={projects[5]} index={5}/>
    </div>
    
    <div class="col-span-6 md:col-span-3 lg:col-span-2 row-span-1">
      <ProjectCard project={projects[6]} index={5}/>
    </div>

    <div class="col-span-6 md:col-span-3 lg:col-span-2 row-span-1">
      <ProjectCard project={projects[7]} index={5}/>
    </div>

  </div>
</section>


<div 
  id="projectModal" 
  class="hidden fixed top-0 left-0 w-full h-full bg-black/60 z-50 
         items-center justify-center"
>
  <div class="relative max-w-3xl max-h-3xl w-full bg-[#2a2e3a] rounded-lg shadow-lg">
    <div class="relative flex items-center justify-center mb-4 bg-black/20 rounded-t-lg overflow-hidden aspect-[12/9]">
      <button 
        id="prevImgBtn"
        class="transition-all absolute z-10 left-2 top-1/2 -translate-y-1/2 
               text-white bg-black/50 hover:text-[#FFCDD2] hover:scale-105 
               ease-in duration-300 rounded-full h-10 w-10 flex items-center justify-center"
      >
        &larr;
      </button>
      <div id="modalImageContainer" class="relative w-full h-full overflow-hidden">
        <img 
          id="modalImgCurrent" 
          src="" 
          alt="Current image" 
          class="absolute top-0 left-0 w-full h-full object-contain"
        />
        <img 
          id="modalImgNext" 
          src="" 
          alt="Next image" 
          class="absolute top-0 left-0 w-full h-full object-contain opacity-0"
        />
      </div>
      <button 
        id="nextImgBtn" 
        class="transition-all absolute right-2 text-white bg-black/50 hover:text-[#FFCDD2] hover:scale-105 ease-in duration-300 rounded-full h-10 w-10 flex items-center justify-center"
      >
        &rarr;
      </button>
    </div>

    <div class="p-6">
      <h3 
      id="modalTitle" 
      class="text-2xl font-bold text-[#FFCDD2] mb-4"
    ></h3>

      <p 
      id="modalDescription" 
      class="text-sm text-gray-300 max-h-32 overflow-y-auto mb-4"
      ></p>
      
      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-col gap-4">
          <div id="modalTags" class="flex flex-wrap gap-2"></div>
          <div id="modalLinks" class="flex flex-wrap gap-4"></div>
        </div>
        <button 
          id="closeModalBtn"
          class="self-end text-white text-2xl hover:text-[#FFCDD2] transition-all ease-in duration-300 hover:scale-105 bg-black/50 rounded-full h-10 w-10 flex items-center justify-center"
        >
          &times;
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  import { projects, type Project } from '../lib/data';

  const projectsData = projects;

  const modal = document.getElementById('projectModal') as HTMLDivElement | null;
  const closeModalBtn = document.getElementById('closeModalBtn') as HTMLButtonElement | null;
  const modalTitle = document.getElementById('modalTitle') as HTMLHeadingElement | null;
  const modalDescription = document.getElementById('modalDescription') as HTMLParagraphElement | null;
  const modalTags = document.getElementById('modalTags') as HTMLDivElement | null;
  const modalLinks = document.getElementById('modalLinks') as HTMLDivElement | null;
  
  const modalImgCurrent = document.getElementById('modalImgCurrent') as HTMLImageElement | null;
  const modalImgNext = document.getElementById('modalImgNext') as HTMLImageElement | null;
  
  const prevImgBtn = document.getElementById('prevImgBtn') as HTMLButtonElement | null;
  const nextImgBtn = document.getElementById('nextImgBtn') as HTMLButtonElement | null;

  let currentProject: Project | null = null;
  let currentImageIndex = 0;

  document.addEventListener('DOMContentLoaded', () => {
    const projectCards = document.querySelectorAll('.project-card');
    projectCards.forEach((card) => {
      card.addEventListener('click', () => {
        const projectIndexStr = card.getAttribute('data-project-index');
        if (!projectIndexStr) return;
        const projectIndex = parseInt(projectIndexStr, 10);
        if (isNaN(projectIndex)) return;
        openModal(projectsData[projectIndex]);
      });
    });
  });

  function openModal(project: Project) {
    currentProject = project;
    currentImageIndex = 0;
    fillModal();
    
    if (modal) {
      modal.classList.remove('hidden');
      modal.classList.add('flex');
    }

    document.body.style.overflow = 'hidden'
  }

  function closeModal() {
    if (modal) {
      modal.classList.add('hidden');
      modal.classList.remove('flex');
    }

    document.body.style.overflow = '';
  }

  function fillModal() {
    if (!currentProject) return;

    if (modalTitle) modalTitle.textContent = currentProject.title;
    if (modalDescription) modalDescription.textContent = currentProject.description;

    if (modalTags) {
      modalTags.innerHTML = '';
      currentProject.tags.forEach(tag => {
        const span = document.createElement('span');
        span.className = "bg-gray-700 text-[#E0E0E0] text-xs font-medium tracking-wide px-3 py-1 rounded-lg mb-12";
        span.textContent = tag;
        modalTags.appendChild(span);
      });
    }

    if (modalLinks) {
      modalLinks.innerHTML = '';
      
      if (currentProject.demoUrl) {
        const a = document.createElement('a');
        a.href = currentProject.demoUrl;
        a.target = '_blank';
        a.rel = 'noopener noreferrer';
        a.className = "inline-flex items-center gap-2 bg-[#FFCDD2] text-sm text-[#252934] px-4 py-2 rounded-full hover:bg-[#f9d1d5] hover:shadow-[0_0_4px_0.5px] hover:shadow-pink-200 transition-all duration-200";

        const textNode = document.createTextNode('Go to web');
        a.appendChild(textNode);

        const svgNS = "http://www.w3.org/2000/svg";
        const svg = document.createElementNS(svgNS, "svg");
        svg.setAttribute("width", "14");
        svg.setAttribute("height", "14");
        svg.setAttribute("viewBox", "0 0 24 24");
        svg.setAttribute("fill", "#252934");
        svg.setAttribute("xmlns", svgNS);


        const path = document.createElementNS(svgNS, "path");
        path.setAttribute("d", "M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z");

        svg.appendChild(path);

        a.appendChild(svg);

        modalLinks.appendChild(a);
      }

      if (currentProject.gitUrl) {
        const a = document.createElement('a');
        a.href = currentProject.gitUrl;
        a.target = '_blank';
        a.rel = 'noopener noreferrer';
        a.className = "inline-flex items-center gap-2 bg-[#FFCDD2] text-sm text-[#252934] px-4 py-2 rounded-full hover:bg-[#f9d1d5] hover:shadow-[0_0_4px_0.5px] hover:shadow-pink-200 transition-all duration-200";

        const textNode = document.createTextNode('GitHub Repo');
        a.appendChild(textNode);

        const svgNS = "http://www.w3.org/2000/svg";
        const svg = document.createElementNS(svgNS, "svg");
        svg.setAttribute("width", "14");
        svg.setAttribute("height", "14");
        svg.setAttribute("viewBox", "0 0 24 24");
        svg.setAttribute("fill", "#252934");
        svg.setAttribute("xmlns", svgNS);

        const path = document.createElementNS(svgNS, "path");
        path.setAttribute("d", "M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z");

        svg.appendChild(path);

        a.appendChild(svg);

        modalLinks.appendChild(a);
      }
    }

    if (modalImgCurrent && currentProject.images.length > 0) {
      modalImgCurrent.src = "/images/" + currentProject.images[0];
      modalImgCurrent.style.transform = "translateX(0)";
    }
    if (modalImgNext) {
      modalImgNext.classList.add('opacity-0');
    }
  }

  function showImage(index: number, direction: 'next' | 'prev') {
    if (!currentProject || !modalImgCurrent || !modalImgNext) return;
    const total = currentProject.images.length;
    currentImageIndex = (index + total) % total;
    const newSrc = "/images/" + currentProject.images[currentImageIndex];

    modalImgNext.src = newSrc;
    modalImgNext.style.transition = "none";
    if (direction === 'next') {
      modalImgNext.style.transform = "translateX(100%)";
    } else {
      modalImgNext.style.transform = "translateX(-100%)";
    }
    
    void modalImgNext.offsetWidth;
    
    modalImgCurrent.style.transition = "transform 0.3s ease";
    modalImgNext.style.transition = "transform 0.3s ease, opacity 0.3s ease";
    
    if (direction === 'next') {
      modalImgCurrent.style.transform = "translateX(-100%)";
      modalImgNext.style.transform = "translateX(0)";
    } else {
      modalImgCurrent.style.transform = "translateX(100%)";
      modalImgNext.style.transform = "translateX(0)";
    }

    modalImgNext.classList.remove('opacity-0');
    
    modalImgNext.addEventListener('transitionend', function handler() {
      modalImgCurrent.src = newSrc;
      modalImgCurrent.style.transition = "";
      modalImgCurrent.style.transform = "translateX(0)";
      modalImgNext.classList.add('opacity-0');
      modalImgNext.style.transition = "";
      modalImgNext.style.transform = "translateX(100%)";
      modalImgNext.removeEventListener('transitionend', handler);
    });
  }

  prevImgBtn?.addEventListener('click', () => {
    showImage(currentImageIndex - 1, 'prev');
  });
  nextImgBtn?.addEventListener('click', () => {
    showImage(currentImageIndex + 1, 'next');
  });

  closeModalBtn?.addEventListener('click', closeModal);
  modal?.addEventListener('click', (e) => {
    if (e.target === modal) {
      closeModal();
    }
  });
</script>


<style>
#modalImgCurrent,
#modalImgNext {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide-out-left {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-out-right {
  transform: translateX(100%);
  opacity: 0;
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInRight 0.3s forwards;
}
.slide-in-left {
  animation: slideInLeft 0.3s forwards;
}

</style>