---
import JobCard from './JobCard.astro'

---


<section class="pt-28 max-w-[80%] flex flex-col mx-auto gap-12 mb-40">
  <h2 class="text-3xl font-[600] text-[#FFCDD2]">Work experience</h2>
  <JobCard
    hasFullWidth
    url="https://www.triggle.app/es/" 
    dates="2024 - Present" 
    company="Frontend Developer · Triggle" 
    tags="NextJS, Tailwind CSS"
  >
    <p class="text-base">
      Contributed to the frontend team using Next.js, Tailwind CSS, and TypeScript for a direct sales platform for transfers and activities in hotels.
    </p>
  </JobCard>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-12 xl:gap-4">
    <JobCard
      hasFullWidth
      dates="2023 - 2024" 
      company="Freelance Full Stack Developer"
      tags="NextJS, Tailwind CSS"
    >
      <p class="text-base">
        Collaborated with various companies and people as a freelance developer, contributing to the enhancement of their projects with my skills in NextJS and other technologies. This work has allowed me to quickly adapt to different teams and projects, strengthening my communication and collaboration skills.
      </p>
    </JobCard>
    <JobCard  hasFullWidth url='https://www.koahealth.com/' dates='2022 - 2023' company='Full Stack Engineer · Koa Health' tags='Flutter, NodeJS, Typescript, MongoDB, Jest, AWS'>
      <p class="text-base">
        Active developer in the main projects on a big company. Working with back and front end to develop new features and improve the existing ones.<br><br>Work with TDD and CleanCode methodologies.
      </p>
    </JobCard>
  </div>
  <JobCard url='https://www.universaldoctor.com/' dates='2019 - 2022' company='Frontend Developer · Universal Doctor' tags='Flutter, React JS'>
    <p class="text-base">
      Working in some WHO related projects besides others. Be part of the team who developed "iGive2" app, presented on Ledger Awards 2020, witch was among the 8 best.<br><br>Work on several Flutter apps for the World Health Organization and some dashboards to manage app's content, everything using Agile methodologies. Mentoring new members of the team and manage testflights and stores builds and launches.
    </p>
  </JobCard>
</section>