--- 
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="min-h-full bg-gradient-to-br from-[#1a1e2a] to-[#272b39]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://unpkg.com/feather-icons"></script>
		<ViewTransitions fallback='none'/>
	</head>
	<body>
		<div id="toastContainer" class="fixed top-4 right-4 z-[100] flex flex-col gap-2"></div>
		<slot />
	</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const script = document.createElement('script');
    script.src = 'https://unpkg.com/feather-icons';
    script.onload = () => {
      (window as any).feather.replace();
    };
    document.body.appendChild(script);
  });
</script>

<style is:global>
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-Thin.ttf') format('ttf');
		font-weight: 100;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-ExtraLight.ttf') format('ttf');
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-Light.ttf') format('ttf');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-Medium.ttf') format('ttf');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-SemiBold.ttf') format('ttf');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-Bold.ttf') format('ttf');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-ExtraBold.ttf') format('ttf');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Montserrat';
		src: url('../../public/fonts/Montserrat-Black.ttf') format('ttf');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: 'Montserrat', sans-serif;
		background-color: #252934;
	}
	body {
		font-family: 'Montserrat', sans-serif;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateX(20px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
			transform: translateX(0);
		}
		to {
			opacity: 0;
			transform: translateX(20px);
		}
	}

	.animate-fadeIn {
		animation: fadeIn 0.3s ease-out forwards;
	}

	.animate-fadeOut {
		animation: fadeOut 0.3s ease-out forwards;
	}

	.toast-icon {
    height: 20px;
    width: 20px;
    stroke-width: 1.5;
  }
</style>
